<div class="ecra">

	<div class="niveis">
		<div class="level">
			<div class="xp"></div>
			<img src="../../../assets/Images/level.webp">
		</div>
		<div class="gold">
			<img src="../../../assets/Images/coin.png">
			<p>{{service.coins}}</p>
		</div>
		<div class="gems">
			<img src="../../../assets/Images/gems.png">
			<p>250</p>
		</div>
	</div>

	<div class="player">
		<div class="nick">
			<img src="../../../assets/Images/logo.png">
			<div class="clan">
				<p>Voliextreme</p>
				<p>Alheiras</p>
			</div>
		</div>
		<div class="divtrophies">
			<div class="trophies">
				<img src="../../../assets/Images/trophie.png">
				<p>5674</p>
			</div>
		</div>
	</div>

	<div class="jogo">
		<div class ="cards" [routerLink]="['/cards']"></div>
		<div class ="arena" ></div>
		<div class ="training" [routerLink]="['/train']"></div>
	</div>
  <div class="div-btn">
    <div class="couche1" [routerLink]="['/arena']">
        <div class="couche2">
        <div class="couche23">
            <div class="couche3">
              <div class="couche4">
                <span class="battle">Battle</span>
                <div class="couche5">
                </div>
              </div>
            </div>
        </div>
        </div>
      </div>
    </div>


	<div class="1"></div>

</div>
