<div class="page">
    <div class="logo">
    </div>
    <div class="king"></div>
    <div class="kingred"></div>
    <div class="formulario" #formulario>
        <input placeholder="Name" #name>
        <input placeholder="Password" #pass type="password">
        <div class="butoes">
            <button (click)="dologin(name.value, pass.value)">Login</button>
            <button style="background-color: rgb(255, 40, 40);"(click)="doregister(name.value, pass.value)">Register</button>
        </div>
    </div>
</div>
